<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cube Solver</title>
</head>
<body>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'cube_solver/solve.css' %}" />

    <p id="sides" style="display:none">{{ sides }}</p>
    <p id="solve-string" style="display:none">{{ solve }}</p>
    <p>Классическое представление: {{ solve }}.</p>

    <div class="solve" id="solve">Расшифровка:</div>

    <a href="/cube_solver/">Вернуться назад</a>
    <script src="{% static 'cube_solver/solve.js' %}"></script>
</body>
</html>