<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess The Number</title>
</head>
<body>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'guess_the_number/cg_style.css' %}" />
    {% if game_over %}<p>Я отгадал число на {{ move }}-й попытке.</p>{% endif %}
    {% if error_message %}<p>{{ error_message }}</p>{% endif %}
    <p class="game_info">Ход {{ move }}. Моё число: {{ my_number }}</p>
    {% if not game_over %}
        <form action="{% url "guess_the_number:game_process" %}" method="post">
            {% csrf_token %}
                <table id="id_first_table"><tr><td>Я угадал?</td>
                    <td><label for="radio_y"><input type="radio" name="is_correct_number" value="1" id="radio_y"
                                                    required />
                        Да</label></td>
                    <td><label for="radio_n"><input type="radio" name="is_correct_number" value="2" id="radio_n"
                                                    checked required />
                        Нет</label></td>
                </tr></table>
                <table><tr><td class="input">{{ form.cows.label }}</td><td class="input">{{ form.cows }}</td>
                    <td class="input">{{ form.bulls.label }}</td><td class="input">{{ form.bulls }}</td>
                    <td><input type="submit" value="Отправить" /></td></tr></table>
        </form>
    {% endif %}
    <a class="return" onclick="return confirm('Вы уверены, что хотите покинуть игру?')"
       href="/guess_the_number/">Вернуться назад</a>
</body>
</html>