<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess The Number</title>
</head>
<body>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'guess_the_number/pg_style.css' %}" />
    <div class="game_form">
        {% if bulls == digits %}<p>Вы отгадали число на {{ move }}-й попытке.</p>{% endif %}
        {% if error_message %}<p>{{ error_message }}</p>{% endif %}
        <p>Ход {{ move }}. Коров: {{ cows }}. Быков: {{ bulls }}</p>
        {% if bulls != digits %}
            <form action="{% url "guess_the_number:game_process" %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Отправить" />
            </form>
        {% endif %}
        <br><a id="id_return" href="/guess_the_number/">Вернуться назад</a>
    </div>
    <div class="player_numbers">
        {% for number in player_numbers %}
            <p>{{ number.move }}. {{ number.number }} -> {{ number.cows }}:{{ number.bulls }}</p>
        {% endfor %}
    </div>
    <div class="footer"></div>

    <script>

        var playerNumber = document.getElementById("id_player_number");

        {# проверка на повторяющиеся цифры / checking for digits repeating #}
        function checkingForRepeat(value) {
            for (let dig of value) {
                if (value.indexOf(dig) != value.lastIndexOf(dig)) {
                    return true
                }
            }
        }

        if (playerNumber) {
            playerNumber.addEventListener("input", function () {
                if (playerNumber.value.search(/^\d*$/)) {
                    playerNumber.setCustomValidity("Ввод должен содержать только цифры")
                } else if (playerNumber.value.length < {{ digits }}) {
                    playerNumber.setCustomValidity("Число должно состоять из {{ digits }} цифр")
                } else if (checkingForRepeat(playerNumber.value)) {
                    playerNumber.setCustomValidity("Число не должно содержать повторяющиеся цифры")
                } else {
                    playerNumber.setCustomValidity("")
                }
            })
        }
    </script>
</body>
</html>