<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess The Number</title>
</head>
<body>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'guess_the_number/style.css' %}" />
    {% if bulls == digits %}<p>Вы отгадали число на {{ move }}-й попытке.</p>{% endif %}
    {% if error_message %}<p>{{ error_message }}</p>{% endif %}
    <p>Ход {{ move }}. Коров: {{ cows }}. Быков: {{ bulls }}</p>
    {% if bulls != digits %}
        <form action="{% url "guess_the_number:game_process" %}" method="post">
            {% csrf_token %}
{#                <label for="id_player_number">Ваше число: </label>#}
{#                <input id="id_player_number" type="text" name="player_number" min="{{ min_possible_number }}"#}
{#                       max="{{ max_possible_number }}"/>#}
                {{ form.as_p }}
                <input type="submit" value="Отправить" />
        </form>
    {% endif %}
    <a id="id_return" href="/guess_the_number/">Вернуться назад</a>
</body>
</html>