<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What are you doing here?</title>
</head>
<body>
{% load staticfiles %}
<form id="player_game" name="person" action="{% url "guess_the_number:index" %}" method="post">
    {% csrf_token %}
    <table>
            <tr>
                <td>{{ form.game_type.label }}</td>
                {% for radio in form.game_type %}
                    <td>{{ radio }}</td>
                {% endfor %}
            </tr>
    </table>
    <table>
        <tr>
            <td>{{ form.how_many_digits.label }}</td>
            <td>{{ form.how_many_digits }}</td>
            <td><input onclick="sendRequest()" type="submit" value="Начать игру" /></td>
        </tr>
    </table>
</form>
<script>

    function sendRequest() {
        // создать объект для формы
        var formData = new FormData(document.forms.person);

        // добавить к пересылке ещё пару ключ - значение
{#        formData.append("patronym", "Робертович");#}

        // отослать
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/url");
        xhr.send(formData);
    }
</script>

</body>
</html>